*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.board{
    margin: 5em;
    text-align: center;
}
.row1, .row2, .row3{
    display: flex;
    justify-content: center;
}
.game-stats {
    width: 200px;
    margin: 2em auto;
    font-size: 1em;
}
.game-stats * {
    margin: 1em;
}